project:
  type: book
  output-dir: docs

book:
  title: "Komputasi Probabilitas dan Statistika"
  author: "NaMma Anda"
  date: "16/02/2026"
  chapters:
    - index.qmd
    - intro.qmd
    - weeks/w01/quiz.qmd
    - submissions/w01/laporan.qmd 
    - summary.qmd
    - references.qmd

bibliography: references.bib

format:
  html:
    theme:
      - cosmo
      - brand
  pdf:
    documentclass: scrreprt



